.main {
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.master {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.volumeInput {
  height: min-content;
}

.device {
  background-color: #878787;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.pad {
  width: 40%;
}

.title {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.button {
  /* width: 100%; */
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: #ccc;
  color: black;
}

.filename {
  padding: 0.5rem;
  max-height: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options {
  width: calc(60% - 1rem);
}

.options_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.waveform {
  background-color: #282828;
  height: 100%;
  height: 70%;
  position: relative;
}

.canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 80%;
}
